{% extends 'dashboard/base.html.twig' %}

{% block title %}Articles - YegoB Monetization{% endblock %}

{% block body %}
    <div class="row grid">
        {% for article in articles %}
            <div class="col col-lg-4 mt-4 grid-item">
                <div class="card">
                    <img src="{{ article.jetpack_featured_media_url }}" />
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title.rendered | raw }}</h5>
                    </div>
                    <div class="card-footer">
                        <h6>Link to share:</h6>
                        <p>
                            <a href="{{ absolute_url(path('app_public_redirect', {postId: article.id, userId: user.id})) }}">
                                {{ absolute_url(path('app_public_redirect', {postId: article.id, userId: user.id})) }}
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}